# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment (Updated for uv)
.venv/
venv/
env/
.env

# Build / Packaging
build/
dist/
*.egg-info/
*.egg-info
*.spec

# Local files
*.xlsx
*.dbc
*.arxml
*.log
*.csv
*.json
*.xml

# IDE
.vscode/
.idea/

# Test outputs
tests/unit_tests/output/
output/