/*@!Encoding:1252*/

variables
{
  enum SOMEIP_VALUE_STATE
  {
    VALUE_STATE_UNAVAILABLE = 0,
    VALUE_STATE_VALID = 1,
    VALUE_STATE_INVALID = 2
  };

// --- UNIQUE PHYICAL VARIABLE DEFINITIONS ---
{% for row in standard_vars %}
  double I{{ row.CAN_PORT | default('MISSING_DATA') }}_Min = {{ row.COMPUTED_CAN_VALUE_MIN | default('MISSING_DATA') }};
  double I{{ row.CAN_PORT | default('MISSING_DATA') }}_Mid = {{ row.COMPUTED_CAN_VALUE_MID | default('MISSING_DATA') }};
  double I{{ row.CAN_PORT | default('MISSING_DATA') }}_Max = {{ row.COMPUTED_CAN_VALUE_MAX | default('MISSING_DATA') }};
  double I{{ row.CAN_PORT | default('MISSING_DATA') }}_Offset = {{ row.CAN_OFFSET | default('MISSING_DATA') }};
  double I{{ row.CAN_PORT | default('MISSING_DATA') }}_Resolution = {{ row.CAN_RESOLUTION | default('MISSING_DATA') }};
{% endfor %}

// --- UNIQUE CAN ENUMS ---
{% for row in can_enums %}
  enum E_CAN_{{ row.CAN_PORT }}
  {
    I{{ row.CAN_PORT }}_Min = {{ row.COMPUTED_CAN_VALUE_MIN | int }},
    I{{ row.CAN_PORT }}_Mid = {{ row.COMPUTED_CAN_VALUE_MID | int }},
    I{{ row.CAN_PORT }}_Max = {{ row.COMPUTED_CAN_VALUE_MAX | int }}
  };
{% endfor %}

  // --- UNIQUE SOME/IP ENUMS ---
{% for row in eth_enums %}
  enum E_ETH_{{ row.SOMEIP_PORT }}_{{ row.ATTRIBUTE_VALUE }}
  {
    {{ row.SOMEIP_PORT }}_{{ row.ATTRIBUTE_VALUE }}_Min = {{ row.COMPUTED_SOMEIP_VALUE_MIN | int }},
    {{ row.SOMEIP_PORT }}_{{ row.ATTRIBUTE_VALUE }}_Mid = {{ row.COMPUTED_SOMEIP_VALUE_MID | int }},
    {{ row.SOMEIP_PORT }}_{{ row.ATTRIBUTE_VALUE }}_Max = {{ row.COMPUTED_SOMEIP_VALUE_MAX | int }}
  };
{% endfor %}
}

//--- Add on_serviceSignal_update callbacks for all EthernetCluster Signals ---
{% for signal in ethernet_signals -%}
on serviceSignal_update {{ signal }} {}
{% endfor -%}
